# dependencies
node_modules/

# bundler
.bundle/

# local env files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS / Linux / IDE
.DS_Store
.idea/
.vscode/

# android artifacts
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
*.keystore
*.jks
